# Project:

Analyzing the trends of COVID-19 with Python

# Problem Statement:

Given data about COVID 19 patients, write code to visualize the impact and analyze the trend of rate of
infection and recovery as well as make predictions about the number of cases expected a week in future
based on the current trends

# Guidelines:

• Use pandas to accumulate data from multiple data files

• Use plotly (visualization library) to create interactive visualizations

• Use Facebooks prophet library to make time series models

• Visualize the prediction by combining these technologies

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px
import plotly.graph_objects as go

import warnings

warnings.filterwarnings('ignore')

%matplotlib inline

plotly is also a visulix=zation library like matplotlib nd seaborn but plotly gives us 3D graph

In [2]:
covid = pd.read_csv('covid_19_clean_complete.csv')

In [3]:
covid.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered,Active,WHO Region
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0,0,Eastern Mediterranean
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0,0,Europe
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0,0,Africa
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0,0,Europe
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0,0,Africa